<head><link href="https://fonts.googleapis.com/css?family=Fredoka+One|Medula+One|Play|Poppins" rel="stylesheet"></head>

   <h3>&#8867; CRAZY CREATURES DECK &#8866;</h3>
    <p><h3><%= @user.password %></h3></p>