<head><link href="https://fonts.googleapis.com/css?family=Fredoka+One|Medula+One|Play|Poppins" rel="stylesheet"></head>

  <h3>&#8867; thanks for create your count with us &#8866;</h3>
  <p><h5><sup>&#8867; all the fields are necessaries &#8866;</sup></h5></p>

  <form id='form_users' action="/newuser" method="post" autocomplete="off">

  <input type="text" id='name' name="name" size='40' placeholder="name" required autofocus>
    >

  <input type="text" id='email' name="email" size='40' placeholder="email" required autofocus>
     >

  <input type="password" id='password' name="password" size='40' placeholder="password" required autofocus>
     <br>
     <br>

  <input id="submit" type="image" src="http://haztab.com/wp-content/uploads/2014/04/paper_plane_document_send_sent_mail-512.png" alt="Submit" width="25" height="25">
  </form>

  